.backgroundbody {
    background-color: #0E0E13;
}

.heading {
    margin-top: 12%;
    margin-left: 10%;
}

.heading a {
    background-color: transparent;
    color: #fff;
}

.heading span {
    padding-left: 2.5%;
    font-size: 25px;
    color: #ffffff;
}

#btn {
    background-color: #20212B;
    color: white;
    border-radius: 25PX;
    font-size: larger;
    width: 45px;
    height: 35px;
}

#homeBtn {
    background-color: #20212B;
    color: white;
    border-radius: 25PX;
    font-size: larger;
    width: 45px;
    height: 35px;
}

.outerinput2 {
    margin-top: 10%;
    color: #fff;
    width: 50%;
    margin-left: 10%;
}

.outerinput2 h3 {
    margin-left: 40%;
    font-size: 20px;
}

.listview {
    display: flex;
    position: relative;
    border: 8px solid #17181F;
    background-color: #68686b;
    height: auto;
    padding: 2.5%;
    border-radius: 25px;
    word-break: break-all;
}

.btnedit {
    background-color: #EF7098;
    right: 25%;
    width: 40px;
    height: 25px;
}

.btndelete {
    right: 15%;
    background-color: #EF7098;
    width: 40px;
    height: 25px;
}

.scroll {
    width: 150%;
    height: fit-content;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

#deletebutton {
    margin-left: 2%;
    left: 80%;
}

#editbutton {
    left: 63%;
}

.checked {
    text-decoration: line-through;
}

.check {
    justify-content: left;
    color: #ffff00;
}

.value{
    display: flex;
    margin: 0.10%;
    margin-left: 2.54%;
    width: 55%;
}

.addbutton {
    margin-top: 1%;
    text-align: center;
}

.addbutton button {
    text-align: center;
    width: 15%;
    height: 10%;
    border-radius: 25px;
    font-size: 25px;
    color: white;
    background-image: linear-gradient(to left bottom,
            #ffff00,
            #EF7098,
            #EF7098,
            #EF7098);
}

.form-popup {
    width: 60%;
    height: 180px;
    background-color: #0E0E13;
    display: none;
    position: fixed;
    top: 35%;
    right: 25%;
    border: 3px solid transparent;
    z-index: 9;
    border-radius: 25px;
}

.form-container h1 {
    text-align: center;
    color: #fff;
}

.inputfield {
    height: 35px;
    background-color: transparent;
    width: 80%;
    margin-left: 10%;
    padding-left: 2%;
    font-size: 15px;
    border-radius: 30px;
    color: #EF7098;
}

.popupButton {
    margin-top: 3%;
    margin-left: 30%;
}

.toast {
    position: absolute;
    bottom: 50%;
    width: max-content;
    margin-left: 48%;
    font-size: x-large;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgb(234, 87, 87);
    color: #000000;
    font-weight: bolder;
    border-radius: 5px;
}

.toast2 {
    position: absolute;
    bottom: 50%;
    width: max-content;
    margin-left: 45%;
    font-size: x-large;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgb(0, 231, 46);
    color: #000000;
    font-weight: bolder;
    border-radius: 5px;
}

