.mobileview {
    display: none
}

.webview {
    display: block
}

@media (max-width:700px) {
    .webview {
        display: none
    }

    .mobileview {
        display: block
    }
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}



.wrapper {
    display: flex;
    position: relative;
}




.sidebar ul li {
    padding: 5%;
}

.sidebar ul li a {
    color: #bdb8d7;
    /* display: block; */
}

.sidebar ul li:hover {
    background-color: #594f8d;
}


.outerinput2 h3 {
    text-align: center;
    font-size: x-large;
}

#form {
    padding-left: 5%;
}



.backgroundbody {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    padding-top: 2%;
}

.inputfield {
    height: 35px;
    background-color: transparent;
    width: 80%;
    padding-left: 2%;
    font-size: 15px;
    border-radius: 30px;
    color: #ffffff;
}

.outerinput {
    border-radius: 5px;
    width: 65%;
}

#btn {
    cursor: pointer;
    border-radius: 15px;
    height: 40px;
    width: 50px;
    font-size: large;
    background-color: #EF7098;
}

#btn:hover {
    border: 3px solid #EF7098;
    background-color: transparent;
    color: #FFFFFF;
}

#btn:active {
    transform: translateY(4px);
    background-color: #36D72F;
}

.btnedit:hover,
.btndelete:hover {
    background-color: #0089E2;
    border: 2px solid black;
}

.view {
    padding-left: 15%;
    color: #fff;
}

.checked {
    text-decoration: line-through;
}

.btnedit:active,
.btndelete:active {
    transform: translateY(4px);
    background-color: #36D72F;
}

#listValue {
    font-size: large;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5%;
}

.check {
    justify-content: left;
    color: yellow;
}

.sidebarIcon {
    margin-left: 15px;
}

.mobilehead {
    justify-content: center;
}

.mobilesidebar {
    margin-top: 10%;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.taskValueShow {
    background-color: #68686b;
    width: 70%;
    margin-left: 15%;
    height: 450px;
}

.taskValueShow div p {
    color: #ffffff;
    margin-left: 14%;
    padding: 1%;
    font-size: x-large;
}

.taskValueShow div h3 {
    padding: 3%;
    font-size: 25px;
    margin-left: 2%;
}

.mobilesidebar ul li {
    padding: 5%;
}

.mobileview {
    height: 100%;
}

.mobilesidebar ul li a {
    font-size: x-large;
    color: #bdb8d7;
}

.mobileheading {
    font-size: 35px;
    color: red;
}

.mobilesidebar ul {
    margin-top: 3%;
    left: 2%;
}

@media (max-width: 2000px) {
    .sideBarheading {
        font-size: larger;
        text-align: center;
        margin: 15px;
        color: r5ed;
    }

    body {
        background-color: #17181F;
    }

    .backgroundbody {
        margin-left: 30%;
    }

    .scroll {
        width: 90%;
        height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .toast {
        position: absolute;
        left: 35%;
        top: 22%;
        font-size: larger;
        color: rgb(234, 87, 87);
        font-weight: bolder;
        border-radius: 5px;
    }

    .toast2 {
        position: absolute;
        left: 35%;
        top: 22%;
        font-size: larger;
        color: rgb(0, 231, 46);
        font-weight: bolder;
        border-radius: 5px;
    }

    .head {
        color: white;
        margin-left: 25%;
        margin-bottom: 4%;
        font-size: x-large;
    }

    .valueMessage {
        font-size: larger;
    }

    #deletebutton {
        position: absolute;
        left: 85%;
    }

    #editbutton {
        position: absolute;
        left: 75%;
    }

    .btnedit {
        cursor: pointer;
        background-color: #EF7098;
        width: 40px;
        height: 25px;
    }

    .btndelete {
        cursor: pointer;
        background-color: #EF7098;
        width: 40px;
        height: 25px;
    }

    .listview {
        display: flex;
        position: relative;
        border: 8px solid #17181F;
        background-color: #68686b;
        padding: 2.5%;
        border-radius: 25px;
    }

    .sidebar {
        width: 200px;
        height: 100%;
        background: #20212B;
        padding: 30px 0px;
        position: fixed;
    }

    .outerinput2 {
        margin-top: 6%;
        border-radius: 2%;
        color: #fff;
        width: 65%;
    }

    .value {
        margin-left: 2%;
    }
}

@media (max-width: 1800px) {
    .sideBarheading {
        font-size: larger;
        text-align: center;
        margin: 15px;
        color: red;
    }

    body {
        background-color: #17181F;
    }

    .backgroundbody {
        margin-left: 30%;
    }

    .scroll {
        width: 90%;
        height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .toast {
        position: absolute;
        left: 35%;
        top: 22%;
        font-size: larger;
        color: rgb(234, 87, 87);
        font-weight: bolder;
        border-radius: 5px;
    }

    .toast2 {
        position: absolute;
        left: 35%;
        top: 22%;
        font-size: larger;
        color: rgb(0, 231, 46);
        font-weight: bolder;
        border-radius: 5px;
    }

    .head {
        color: white;
        margin-left: 25%;
        margin-bottom: 4%;
        font-size: x-large;
    }

    .valueMessage {
        font-size: larger;
    }

    #deletebutton {
        position: absolute;
        left: 85%;
    }

    #editbutton {
        position: absolute;
        left: 75%;
    }

    .btnedit {
        cursor: pointer;
        background-color: #EF7098;
        width: 40px;
        height: 25px;
    }

    .btndelete {
        cursor: pointer;
        background-color: #EF7098;
        width: 40px;
        height: 25px;
    }

    .listview {
        display: flex;
        position: relative;
        border: 8px solid #17181F;
        background-color: #68686b;
        padding: 2.5%;
        border-radius: 25px;
    }

    .sidebar {
        width: 200px;
        height: 100%;
        background: #20212B;
        padding: 30px 0px;
        position: fixed;
    }

    .outerinput2 {
        margin-top: 6%;
        border-radius: 2%;
        color: #fff;
        width: 65%;
    }

    .value {
        margin-left: 2%;
    }
}

@media (max-width: 760) {
    .sideBarheading {
        font-size: larger;
        text-align: center;
        margin: 15px;
        color: yellow;
    }

    body {
        background-color: #0089E2;
    }

    .collectionmobile {
        display: flex;
        justify-content: center;
    }

    #deletebutton {
        position: absolute;
        left: 82%;
    }

    #editbutton {
        position: absolute;
        left: 65%;
    }

    .value {
        margin-left: 3.5%;
        max-width: 45%;
    }

    .outerinput2 {
        margin-top: 10%;
        border-radius: 2%;
        color: #fff;
        width: 65%;
    }

    .webview {
        grid-template-columns: 1fr;
    }

    .scroll {
        width: 150%;
        height: 350px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .outerinput2 h3 {
        margin-left: 40%;
        font-size: 20px;
    }

    .backgroundbody {
        margin-left: 0;
        padding: 20px;
    }

    .outerinput {
        /* margin-left: %;  */
        border-radius: 5px;
        width: auto;
    }

    .sidebarIcon {
        margin-left: 15px;
    }

    .inputfield {
        height: 35px;
        background-color: transparent;
        width: 65%;
        padding-left: 10%;
        font-size: 15px;
        border-radius: 20px;
        color: #ffffff;
    }

    .toast {
        font-size: small;
        position: absolute;
        left: 10%;
        top: 13%;
        font-size: larger;
        color: rgb(234, 87, 87);
        font-weight: bolder;
        border-radius: 5px;
    }

    .toast2 {
        position: absolute;
        left: 13%;
        top: 12%;
        font-size: medium;
        color: rgb(0, 231, 46);
        font-weight: bolder;
        border-radius: 5px;
    }

    .listview {
        border: 8px solid #17181F;
        padding: 45%;
        background-color: #68686b;
        height: auto;
        width: auto;
        padding: 5.5%;
        border-radius: 25px;
    }

    .head {
        justify-content: center;
        font-size: medium;
        color: white;
        margin-left: 38%;
        margin-bottom: 4%;
        font-size: x-large;
    }

    .btnedit {
        background-color: #EF7098;
        right: 25%;
        width: 40px;
        height: 25px;
    }

    .valueMessage {
        margin-top: 12%;
        margin-left: 15%;
    }

    .btndelete {
        right: 15%;
        background-color: #EF7098;
        width: 40px;
        height: 25px;
    }

    .view {
        padding-left: 10%;
    }

    .taskValueShow {
        background-color: #68686b;
        width: 70%;
        margin-left: 15%;
        height: 450px;
    }

    .taskValueShow div p {
        color: #ffffff;
        margin-left: 14%;
        padding: 1%;
        font-size: x-large;
    }

    .taskValueShow div h3 {
        padding: 3%;
        font-size: 25px;
        margin-left: 2%;
    }
}

/* MObile style */
.mobileview .backgroundbody {
    background-color: #0E0E13;
}

.mobileview .heading {
    margin-top: 12%;
    margin-left: 10%;
}

.mobileview .heading a {
    background-color: transparent;
    color: #fff;
}

.mobileview .heading span {
    padding-left: 2.5%;
    font-size: 25px;
    color: #ffffff;
}

.mobileview #btn {
    background-color: #20212B;
    color: white;
    border-radius: 25PX;
    font-size: larger;
    width: 45px;
    height: 35px;
}

.mobileview .outerinput2 {
    margin-top: 10%;
    color: #fff;
    width: 50%;
    margin-left: 10%;
}

.mobileview .outerinput2 h3 {
    margin-left: 40%;
    font-size: 20px;
}

.mobileview .listview {
    display: flex;
    position: relative;
    border: 8px solid #17181F;
    background-color: #68686b;
    height: 20px;
    padding: 2.5%;
    border-radius: 25px;
}

.mobileview .btnedit {
    background-color: #EF7098;
    right: 25%;
    width: 40px;
    height: 25px;
}

.mobileview .btndelete {
    right: 15%;
    background-color: #EF7098;
    width: 40px;
    height: 25px;
}

.mobileview .scroll {
    width: 150%;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.mobileview #deletebutton {
    position: absolute;
    left: 82%;
}

.mobileview #editbutton {
    position: absolute;
    left: 65%;
}

.mobileview .checked {
    text-decoration: line-through;
}

.mobileview .check {
    justify-content: left;
    color: yellow;
}

.mobileview .value {
    margin: 0.10%;
    margin-left: 2.54%;
    /* margin-bottom: 5%; */
}